h3.a-h3 Мы уверены, что проекты делают не компании, а люди.
p Поэтому особое внимание уделяем формированию команды и построению процесса работы над проектом.Наша команда имеет многолетний опыт работы на различных задачах из многих секторов экономики, от небольших start-up проектов до крупных финансовых и государственных учреждений.
a.a__presentation(href="#")
    object(type="image/svg+xml" data="assets/images/static/presentation.svg")
    span Презентация агенства


div.about__honors
    p Поэтому особое внимание уделяем формированию команды и построению процесса работы над проектом.
    div.a-honors__list
        div.a-honor__item
            div.a-honor__img
                img.a-honor__img-img(src="assets/images/content/honor1.svg" alt="CSSDesignAwards")
            div.a-honor__count 12
        div.a-honor__item
            div.a-honor__img
                img.a-honor__img-img(src="assets/images/content/honor2.svg" alt="Awwwards")
            div.a-honor__count 7
        div.a-honor__item
            div.a-honor__img
                img.a-honor__img-img(src="assets/images/content/honor3.svg" alt="CSSWinner")
            div.a-honor__count 8

div.about__clients
    p Поэтому особое внимание уделяем формированию команды и построению процесса работы над проектом.
    div.a-clients__list.row
        div.a-client__item.col-xl-3.col-sm-4.col-6
            div.a-client__img
                img.a-client_x_img-img(src="assets/images/content/c1.svg" alt="c1")
        div.a-client__item.col-xl-3.col-sm-4.col-6
            div.a-client__img
                img.a-client_x_img-img(src="assets/images/content/c12.svg" alt="c12")
        div.a-client__item.col-xl-3.col-sm-4.col-6
            div.a-client__img
                img.a-client_x_img-img(src="assets/images/content/c3.svg" alt="c1")
        div.a-client__item.col-xl-3.col-sm-4.col-6
            div.a-client__img
                img.a-client_x_img-img(src="assets/images/content/c4.svg" alt="c1")
        div.a-client__item.col-xl-3.col-sm-4.col-6
            div.a-client__img
                img.a-client_x_img-img(src="assets/images/content/c5.svg" alt="c1")
        div.a-client__item.col-xl-3.col-sm-4.col-6
            div.a-client__img
                img.a-client_x_img-img(src="assets/images/content/c6.svg" alt="c1")
        div.a-client__item.col-xl-3.col-sm-4.col-6
            div.a-client__img
                img.a-client_x_img-img(src="assets/images/content/c7.svg" alt="c1")
        div.a-client__item.col-xl-3.col-sm-4.col-6
            div.a-client__img
                img.a-client_x_img-img(src="assets/images/content/c8.png" alt="c1")
        div.a-client__item.col-xl-3.col-sm-4.col-6
            div.a-client__img
                img.a-client_x_img-img(src="assets/images/content/c9.png" alt="c1")
        div.a-client__item.col-xl-3.col-sm-4.col-6
            div.a-client__img
                img.a-client_x_img-img(src="assets/images/content/c10.png" alt="c1")
        div.a-client__item.col-xl-3.col-sm-4.col-6
            div.a-client__img
                img.a-client_x_img-img(src="assets/images/content/c11.png" alt="c1")
        div.a-client__item.col-xl-3.col-sm-4.col-6
            div.a-client__img
                img.a-client_x_img-img(src="assets/images/content/c2.png" alt="c2")

p Мы будем рады приложить все имеющиеся навыки и знания
    |   для комплексного создания и успешного развития вашего
    |   проекта или стартапа.

button.link.contact-us(aria-label="Связаться с нами" data-section="contact")
    object(type="image/svg+xml" data="assets/images/static/presentation.svg")
    span Связаться с нами