h3.a-h3 Офис
p г. Одинцово, ул. Молодёжная, д.46
    br
    | (БЦ Альянс, этаж 2), офис 777

div.c-form__wrapper
    div.c-form__content
        h3.a-h3 Начать проект
        div.c-form
            form.c-form__form.visible.js-validate#callback
                div.c-form__line
                    div.c-form__input
                        input(type="text" name='name' id="orderName").c-form__input-field
                        label(for="orderName").c-form__input-label
                            span.c-form__input-label-content Имя
                div.c-form__line
                    div.c-form__input
                        input(type="text" name='company' id="orderCompany").c-form__input-field
                        label(for="orderCompany").c-form__input-label
                            span.c-form__input-label-content Компания
                div.c-form__line
                    div.c-form__input
                        input(type="text" name='phone' id="orderPhone").c-form__input-field.mask--phone
                        label(for="orderPhone").c-form__input-label
                            span.c-form__input-label-content Телефон
                div.c-form__line
                    div.c-form__input
                        input(type="text" name='email' id="orderMail").c-form__input-field
                        label(for="orderMail").c-form__input-label
                            span.c-form__input-label-content E-mail
                div.c-form__line
                    div.c-form__input
                        textarea(name='message' id="orderMessage").c-form__input-field
                        label(for="orderMessage").c-form__input-label
                            span.c-form__input-label-content Описание проекта
                div.c-form__bottom
                    //div.c-form__bottom-half
                        input(type="checkbox" id='check_2' name='check_2' checked).c-form__checkbox.validate__CHECKBOX
                        label(for="check_2").c-form__checkbox-label Согласен на обработку персональных данных
                    input(type='submit' role="button" value="Отправить запрос").c-form__link
    div.c-form__connect
        div.c-form__connect-inner
            div.connect-item
                span Сотрудничество
                br
                a(href="mailto:hello@de-us.ru" target="_blank") hello@de-us.ru
            div.connect-item
                span Для резюме
                br
                a(href="mailto: job@de-us.ru" target="_blank") job@de-us.ru

