extends layout

block vars
    - var bodyClass = ''
    - var title = 'Главная'

block title
    title Главная

block header
    include blocks/header

block content
    div.page.index

        //div.curtain(style="position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; z-index: 1; background-color: #f2f2f2")

        div#barba-wrapper
            div.barba-container(data-namespace="home-page")
                div.barba-transition-container
                    div.stagePerspective.parallaxPerspective.perspective-origin-tt-bb
                        div.stageContainer(style="opacity: 0")
                            div.stage
                                ul.projects
                                    li.projectsLi(data-barba="HomeTransition")
                                        div.projectContainer
                                            div.projectData
                                                div.projectLinks
                                                    span.year 2019
                                                    a.link-behance(href="https://de-us.ru" target="_blank")
                                                    a.link-site(href="https://de-us.ru" target="_blank")
                                                div.projectName
                                                    span Studio Deus

                                    li.projectsLi(data-barba="HomeTransition")
                                        div.projectContainer
                                            div.projectData
                                                div.projectLinks
                                                    span.year 2019
                                                    a.link-behance(href="https://de-us.ru" target="_blank")
                                                    a.link-site(href="https://de-us.ru" target="_blank")
                                                div.projectName
                                                    span Studio BLA
                                    li.projectsLi(data-barba="HomeTransition")
                                        div.projectContainer
                                            div.projectData
                                                div.projectLinks
                                                    span.year 2019
                                                    a.link-behance(href="https://de-us.ru" target="_blank")
                                                    a.link-site(href="https://de-us.ru" target="_blank")
                                                div.projectName
                                                    span
                                                        | Studio
                                                        br
                                                        | Deus
                                    li.projectsLi(data-barba="HomeTransition")
                                        div.projectContainer
                                            div.projectData
                                                div.projectLinks
                                                    span.year 2019
                                                    a.link-behance(href="https://de-us.ru" target="_blank")
                                                    a.link-site(href="https://de-us.ru" target="_blank")
                                                div.projectName
                                                    span
                                                        | Studio
                                                        br
                                                        | Deus
                                    li.projectsLi(data-barba="HomeTransition")
                                        div.projectContainer
                                            div.projectData
                                                div.projectLinks
                                                    span.year 2019
                                                    a.link-behance(href="https://de-us.ru" target="_blank")
                                                    a.link-site(href="https://de-us.ru" target="_blank")
                                                div.projectName
                                                    span
                                                        | Studio
                                                        br
                                                        | Deus


    //
    section#about.about
        button.btn-back(type="button" aria-label="Back")
            span.btn-box
                span.icon-close

        div.container
            .col-xl-9.col-md-8.offset-md-1.col-12
               div.page-content
                   include about

    section#contact.about
        button.btn-back(type="button" aria-label="Back")
            span.btn-box
                span.icon-close

        div.container
            .col-md-11.offset-md-1.col-12
                div.page-content
                    include contacts
    div.bg-sections