extends layout

block vars
    - var bodyClass = 'home-page'
    - var title = 'Главная'

block title
    title Главная

block header
    include blocks/header

block content
    div.page.index
        div.container


block content