extends layout

block vars
    - var bodyClass = '-page-home'
    - var title = 'О проекте'
    - var bottomInfo = 'Информационный портал Crossfit.ru'
    - var bottomDescription = 'Первый и единственный официально зарегистрированный и запатентованный интернет-портал о кроссфите с российским доменом. Цели портала, популяризация кроссфита в России и странах СНГ.<br/><br/>Для достижения этой цели команда «Crossfit.ru» оказывает спонсорскую помощь ряду российских атлетов. Совместно с ними мы создаем материалы для любителей кроссфита, в которых атлеты делятся опытом и своим примером мотивируют начинающих и продвинутых кроссфитеров.'

block title
    title Главная

block header
    include blocks/header

block content