doctype html
html(lang="ru")

	- var bodyClass = '';

	block vars

	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible",content="IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		block title
			title default title

		link(rel='stylesheet', href='assets/css/styles.css')


	body(class='-loading ' + bodyClass)
		div(class='page')

			div.preloader
				div.preloader__container.-loading
					include ../images/content/deus.svg
					//object#preloader(type="image/svg+xml" data="assets/images/content/deus.svg")

			block header

			div.content
				block content

			div.bottom-gradient

			block footer
			//include blocks/popups


	//script(src='assets/js/jquery-3.1.1.min.js')
	//script(src='https://cdnjs.cloudflare.com/ajax/libs/barba.js/1.0.0/barba.min.js')
	script(src='assets/js/scripts.min.js')



