doctype html
html(lang="ru")

	- var bodyClass = '';

	block vars

	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible",content="IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		block title
			title default title

		link(rel='stylesheet', href='assets/css/styles.css')


	body(class='-loading ' + bodyClass)
		include blocks/sidebar
		div(class='page')
			block header

			div.content
				block content

			div.overlay

			block footer
			//include blocks/popups


	//script(src='assets/js/jquery-3.1.1.min.js')

	if (bodyClass === '-page-route')
		//script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
		//script(src="https://api-maps.yandex.ru/2.1/?apikey=a6bdadb5-db12-44d9-af88-2bdb9e48eb23&lang=ru_RU" type="text/javascript" async)
		//script(src='assets/js/routes.js')

	script(src='assets/js/scripts.min.js')


