.c-form__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.c-form__content {
  flex-grow: 1;
  max-width: 680px;
}
.c-form__connect {
  flex-grow: 0;
}
.c-form__connect-inner {
  margin-top: 90px;
  text-align: right;
}
.c-form__connect-inner span,
.c-form__connect-inner a {
  font-size: 24px;
  line-height: 35px;
  font-weight: normal;
  text-align: right;
}
.c-form {
  padding-bottom: 30px;
  margin-right: 50px;

}
.c-form__line {
  display: flex;
  justify-content: space-between;
}

.c-form__input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em 0;
  vertical-align: top;
  width: 100%;
  box-sizing: border-box;
  &:after {
    content: '';
    position: absolute;
    top: 2.7em;
    right: 2em;
    background: url(../images/static/valid.svg) center no-repeat;
    width: 30px;
    height: 19px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }
  &--error {

    margin-bottom: calc(1em + 35px);

    .c-form__input-field {
      border-color: $color-red;
    }
    label.error {
      position: absolute;
      left: 0;
      bottom: -2.3em;
      color: $color-red;
      font-size: 16px;
      line-height: 35px;
    }
  }

  &--valid {

    &:after {
      opacity: 1;
      visibility: visible;
    }

  }

}

.c-form__input-field {
  position: relative;
  display: block;
  float: right;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  padding: 1.2em 2em 1.2em;
  width: 100%;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 0;
  color: #fff;
  letter-spacing: .4px;
  -webkit-appearance: none;
  transition: all 0.3s;

  &.input-error {
    border-color: red;
  }
}

.c-form__input-label {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: left;
  cursor: text;
  display: inline-block;
  float: right;
  padding: 0;
  font-weight: 400;
  -webkit-touch-callout: none;
  user-select: none;
  pointer-events: none;

  &--error {
    //&:after {
    //  background: red !important;
    //}
  }
}

.c-form__input-label-content {
  position: relative;
  width: 100%;
  padding: 0;
  font-size: 24px;
  line-height: 35px;
  font-weight: bold;
  display: inline-block;
  vertical-align: bottom;
  transform-origin: 0 0;
  transform: translate3d(2em, 1.2em, 0);
  transition: all 0.3s;
  color: #fff;
}

.c-form__input-field:focus,
.c-form__input.is-full .c-form__input-field {
  padding: 1.6em 2em 0.8em;
}

textarea.c-form__input-field:focus,
.c-form__input.is-full textarea.c-form__input-field {
  height: 260px;
}

.c-form__input-field:focus + .c-form__input-label .c-form__input-label-content,
.c-form__input.is-full .c-form__input-label-content {
  transform: translate3d(2em, 0.8em, 0) scale3d(0.67, 0.67, 1);
  font-weight: normal;
}

textarea.c-form__input-field {
  width: 100%;
  resize: none;
  height: auto;
}

.c-form__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.c-form__link {
  display: block;
  color: $color-accent;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  border: 2px solid $color-accent;
  height: 90px;
  line-height: 90px;
  background: transparent;
  -webkit-appearance: none;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: all .3s;
  padding: 0;
  &:hover {
    background-color: $color-accent;
    color: #292930;
  }
  &:active, &:focus {
    //transform: scale(0.95);
    transition: none ease-in-out;
  }
}

/*.c-form__checkbox-label {
  position: relative;
  font-size: 17px;
  font-weight: 100;
  letter-spacing: 0.015em;
  line-height: 24px;
  display: block;
  padding-left: 40px;
  cursor: pointer;
  color: #171717;
  transition: color .3s;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    background-color: #fff;
  }

  &:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 8px;
    width: 0;
    height: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/static/mark.svg);
    transition: width .3s;
  }
}

.c-form__checkbox {
  visibility: hidden;
  position: absolute;
  z-index: -10;

  &:checked {

    & + .c-form__label,
    & + span + .c-form__label {

      &:after {
        width: 14px;
      }
    }
  }

  &.input-error {

    & + .c-form__label,
    & + span + .c-form__label {
      color: red;
    }
  }
}*/

.c-form__error {
  display: none;
  color: red;
}

