.preloader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  //background: #292930;
  z-index: 100000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 640ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 640ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.-loading .preloader {
  opacity: 1;
  visibility: visible
}

.preloader__container {
  position: relative;
  width: 230px;
  height: 80px;
  transition: all 2s cubic-bezier(0.215, 0.61, 0.355, 1) 400ms;
  transform: scale(6);
  opacity: 0;
}
.preloader__container.-loading{
  transform: scale(1);
  opacity: 1;
}
#preloader {
  .logo-path {
    fill-opacity: 0;
    transition: all 650ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  &.finished {
    .logo-path {
      stroke-width: 0 !important;
      fill-opacity: 1 !important;
    }
  }

}