//default settings
*, :before, :after {
	box-sizing: inherit;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-kerning: auto;
	font-kerning: auto;
}
body {
	overflow-x: hidden;
	color: #fff;
	background-color: $color-bg;

	&.is-unscrolled {
		overflow: hidden;
	}
}

.page {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

.content {
	flex-grow: 2;
	width: 100%;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-webkit-backface-visibility: hidden;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-overflow-scrolling: touch;
	// outline: 1px solid aqua;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	max-width: 1600px;
	margin: 0 auto;
	width: 100%;
	padding: 0 50px;
	&--middle {
		padding: 0 100px;
	}
}
