div.header
    div.logo
        a.logo__lang(href="#") Eng
        object.logo__image(type="image/svg+xml" data="assets/images/content/logo.svg")
    button.mobile-nav(type="button" role="button" aria-label="Menu")
        span.mobile-nav-box
            span.mobile-nav-inner
    div.info
        nav.links
            ul
                li.about-li
                    button.link(aria-label="Агенство" data-section="about") Агентство
                li.contacts-li
                    button.link(aria-label="Контакты" data-section="contact") Контакты
        div.contact
            ul
                li
                    a.mail(href="mailto:hello@de-us.ru") hello@de-us.ru
                li
                    a(href="tel: +74951034351") +7 (495) 103-43-51