@media screen and (max-width: 1279px) {
  .about .container {
    margin-left: calc(50px + 14vw);
    max-width: calc(100vw - (14vw + 120px));
  }
}

@media screen and (max-width: 1023px) {
  .about .a-h3 {
    font-size: 30px;
    line-height: 50px;
  }
  .about p {
    font-size: 18px;
    line-height: 29px;
  }

}

@media screen and (max-width: 767px) {
  .about .container {
    display: block;
    height: 100vh;
    margin: 0 auto;
    max-width: 100%;
  }

  .about .page-content {
    width: 100%;
    padding-top: calc(71px + 10vw);
    padding-right: 0;
  }

  .about .a-h3 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 0;
  }

}

@media screen and (max-width: 479px) {
  .about .a-h3 {
    font-size: 20px;
  }
}





