// Parallax

.parallax-horizontal-tb-bt {
  transform: translateX(var(--transform-x));
  transition: transform 3s ease-out;
}

.journal .parallax-horizontal-tb-bt {

  &.left {
    transition-duration: 1.5s;
  }

  &.right {
    transition-duration: 2s;
  }

}

.parallax-vertical-mm-bt {
  transform: translateY(var(--transform-y));
  transition: transform 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.parallax-vertical-tb-bt {
  transform: translateY(var(--transform-y));
  transition: transform 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@media screen and (max-width: 767px) {
  .parallax-no-mobile {
    transform: none;
    transition: none;
  }
}